/*
* project: zTerminal
* file: termStyle.css
* author: Zachariah Sobieszczyk <occultdigital@gmail.com>
*/

@import url('https://fonts.googleapis.com/css?family=Aldrich');


body {

background-color: black;
}


/**************
*
*     #terminal
*
**************/

#terminal {
  background-color: black;
  font-family: Aldrich;
}


#terminal {
    height:100vh;
}


/**************
*
*   ol and p
*
**************/
ol, p {
    color: #33ff66;
    font-family: Aldrich;
    font-size: 18px;
    list-style:none;
    padding-left:0;
    padding-bottom: 0;
}

ol {
    margin-top: -20px;
    margin-bottom: -20px;
  }

/**************
*
*     input
*
**************/
input {
    font-size: 18px;
    width: 50%;
    background-color: black;
    border-color: black;
    color: #33ff66;
    font-family: Aldrich;
    border:1px
}

input:focus{
    outline: none;
}

input[type="termInput"] {
    -webkit-appearance: textfield;
}

input[type="termInput"]::-webkit-search-decoration {
    -webkit-appearance: none;
}


body {
    -webkit-animation-delay: 0.1s;
    -webkit-animation-name: fontfix;
    -webkit-animation-duration: 0.1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes fontfix {
    from { opacity: 1; }
    to   { opacity: 1; }
}
